<% provide(:title, 'プロフィール') %>

<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<%= form_for @skill, :url => {:controller => 'skills', :action => 'create'} do |f| %>
    <div class="field">
      <%= f.text_field :name %>
      <%= hidden_field_tag 'user_id', @user.id %>
    </div>

    <% if logged_in? && @user == current_user %>
        <div class="action">
          <%= f.submit "登録する" %>
        </div>
    <% elsif logged_in? && @user != current_user %>
        <div class="action">
          <%= f.submit "スキルを推薦する" %>
        </div>
    <% end %>
<% end %>

<h2>スキル・特徴</h2>
<table>
  <% for user_skill in @user_skill %>
      <tr>
        <td>
          <div class="skill-plus-button">
            <% if logged_in? && @user == current_user %>
                <%= user_skill.count %>
            <% elsif logged_in? && @user != current_user %>
                <%= link_to user_skill.count, user_skills_plus_path(user_skill_id: user_skill.id) %>
            <% end %>
          </div>
        </td>
        <td>
          <%= user_skill.skill.name %>
        </td>
      </tr>
  <% end %>
</table>

